<article class="size_restricted" >
	<section *ngIf="auth.user | async as user; else showLogin">
		<survey [json]="json" (submitSurvey)="sendData($event)"></survey>
	</section>
	<ng-template #showLogin>
		<section class="jumbotron" >
		  <h1 class="display-4">Inschrijven</h1>
		  <p class="lead">
		  	Ja! Ik wil lid worden van Tennisclub7.
		  </p>
		  <hr class="my-4">
		  <p>Klik op de knop om door te gaan naar het inschrijfformulier.</p>
		  <button (click)="login()" type="button" class="btn-lg btn-primary">Doorgaan</button>
		</section>
	</ng-template>
</article>