@import 'survey-angular/survey.css';

//neutralize changes from survey.css

.sv_main input[type="button"],
.sv_main button {
	color: none;
	background-color: none; 
}
.sv_main input[type="button"]:hover,
.sv_main button:hover {
  background-color: none; 
}

.sv_main input[type="button"],
  .sv_main button {
    font-size: none;
    font-weight: none;
    line-height: none;
    border: none;
    min-width: none;
    cursor: pointer;
    padding: none;
    border-radius: none; 
}

@import 'bootstrap/dist/css/bootstrap.min.css';


.page-title{
	margin-left: 15px
}

.sv_container{
	background-color: rgb(259,259,259);
	border: 1.5px solid #ced4da;
	border-radius: 0.25rem
}

.sjs_sp_container canvas{
	border: 1.5px solid #ced4da;
	border-radius: 0.25rem
}


